.combat-resolver-set-area-target {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 10px;
    background-color: #3261cf;
    box-shadow: 0 1px 3px rgb(0 0 0 / 16%), 0 1px 3px rgb(0 0 0 / 23%);
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    border-radius: 2px;
}

.combat-resolver-set-area-target:hover {
    background-color: #29a877;
}
.combat-resolver-set-area-target.cr-active {
    background-color: #29a877;
}

.combat-resolver-set-monster-target {
    width: 31px;
    height: 31px;
    background-color: #3261cf;
    box-shadow: 0 1px 3px rgb(0 0 0 / 16%), 0 1px 3px rgb(0 0 0 / 23%);
    text-align: center;
    line-height: 33px;
    font-weight: bold;
    border-radius: 2px;
    display: inline-block;
    transform: translateY(2px);
    margin-left: 0.25rem;
}

.combat-resolver-set-monster-target:hover {
    background-color: #29a877;
}
.combat-resolver-set-monster-target.cr-active {
    background-color: #29a877;
}

.combat-resolver-set-slayer-task-target {
    width: 31px;
    height: 31px;
    background-color: #3261cf;
    box-shadow: 0 1px 3px rgb(0 0 0 / 16%), 0 1px 3px rgb(0 0 0 / 23%);
    text-align: center;
    line-height: 33px;
    font-weight: bold;
    border-radius: 2px;
    float: right;
}

.combat-resolver-set-slayer-task-target:hover {
    background-color: #29a877;
}
.combat-resolver-set-slayer-task-target.cr-active {
    background-color: #29a877;
}

#combat-resolver-set-monster-target-from-task {
    width: 25px;
    height: 25px;
    background-color: #3261cf;
    box-shadow: 0 1px 3px rgb(0 0 0 / 16%), 0 1px 3px rgb(0 0 0 / 23%);
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    border-radius: 2px;

    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#combat-resolver-set-monster-target-from-task:hover {
    background-color: #29a877;
    cursor: pointer;
}

#combat-resolver-set-monster-target-from-task.cr-active {
    background-color: #29a877;
}

.wid-safety-factor {
    color: #30c78d;
    font-weight: bolder;
}

.wid-semi-integrated {
    color: #30c78d;
    font-weight: bolder;
}

.wid-semi-integrated.wid-semi-integration-disabled {
    display: none;
}

.wid-safety-factor-danger {
    color: #df4646 !important;
}

.wid-safety-factor-warning {
    color: #f1c40f !important;
}

.combat-resolver-safe {
    color: #30c78d !important;
}

.combat-resolver-danger {
    color: #df4646 !important;
}

.combat-resolver-unknown {
    color: #f5f5f5 !important;
}

.combat-resolver-recalc {
    color: #f1c40f !important;
    box-shadow: 0 0 0 0 rgba(241, 196, 15, 1);
    animation: wid-recalc-pulse 2s infinite;
    transform-origin: 50% 50%;
}

.combat-resolver-recalc-text {
    color: #f1c40f !important;
    box-shadow: 0 0 0 rgba(241, 196, 15, 1);
    animation: wid-recalc-pulse-text 2s infinite;
    transform-origin: 50% 50%;
}

#will-i-die-header-tab-dropdown > .dropdown-header {
    color: #ecf0f1;
    font-weight: bold;
    padding: 5px 10px 10px 10px !important;
    height: auto;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

/*#will-i-die-header-tab-dropdown > .dropdown-header > .dropdown-header-left {

}*/

#will-i-die-header-tab-dropdown > .dropdown-header > .dropdown-header-right {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.combat-resolver-tab-content {
    color: #f5f5f5;
    padding-bottom: 10px !important;
    padding: 10px;
}

.cr-hl {
    font-weight: bold;
}

.cr-hl-warn { color: #e56767; }
.cr-hl-ok { color: #27ae60; }
.cr-hl-enemy { color: #d35400; }
.cr-hl-area { color: rgb(241, 196, 15); }
.cr-hl-dmg { color: #e74c3c; }
.cr-hl-block { color: #2980b9; }
.cr-hl-spec { color: #9b59b6; }
.cr-hl-health { color: #16a085; }

.cr-hl-style-ranged { color: #27ae60; }
.cr-hl-style-magic { color: #2980b9; }
.cr-hl-style-melee { color: #f39c12; }

.cr-eq-container {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
}

.cr-eq-var {
    transform-origin: 50% 50%;
    color: #2bcbba;
    display: inline-block;
}

.cr-eq-var:hover {
    cursor: pointer;
    transform: scale(1.2);
    font-weight: bold;
}

/*
.cr-eq-var-1 { color: #e74c3c; }
.cr-eq-var-2 { color: #e56767; }
.cr-eq-var-3 { color: #27ae60; }
.cr-eq-var-4 { color: #d35400; }
.cr-eq-var-5 { color: rgb(241, 196, 15); }
.cr-eq-var-6 { color: #e74c3c; }
.cr-eq-var-7 { color: #2980b9; }
.cr-eq-var-8 { color: #9b59b6; }
.cr-eq-var-9 { color: #16a085; }
.cr-eq-var-10 { color: #07b0bf; }
*/

.cr-eq-cal { color: #d1d8e0; }
.cr-eq-val { color: #fd9644; }


@keyframes wid-recalc-pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(241, 196, 15, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(241, 196, 15, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(241, 196, 15, 0);
    }
}

@keyframes wid-recalc-pulse-text {
    0% {
        transform: scale(0.95);
        text-shadow: 0 0 0 rgba(241, 196, 15, 0.7);
    }

    70% {
        transform: scale(1);
        text-shadow: 0 0 20px rgba(241, 196, 15, 0);
    }

    100% {
        transform: scale(0.95);
        text-shadow: 0 0 0 rgba(241, 196, 15, 0);
    }
}

#will-i-die-equation-popup {
    position: absolute;
    width: auto;
    height: 35px;
    background-color: #232a35;
    border: solid 1px #fff;
    z-index: 9999;
    gap: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 12pt;
    padding: 10px;
    color: white;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#will-i-die-equation-popup.wid-eq-popup-invisible {
    display: none;
}

#will-i-die-equation-popup-name {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

#will-i-die-equation-popup-intermediary {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

#will-i-die-equation-popup-value {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.wid-monster-tabs {
    position: absolute;
    z-index: 9999;
    background-color: #383e47;
    border: solid 1px #fff;
    width: 50px;
    height: 268px;
    left: -55px;
    top: 0;
    box-sizing: border-box;
    gap: 0px;
    padding: 0px;
    overflow: hidden;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: center;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.wid-monster-tabs-invisible {
    display: none;
}

.wid-monster-tab {
    width: 40px;
    height: 40px;

    background-color: #bdc3c7;

    /*color: white;
    font-size: 14pt;
    text-align: center;
    line-height: 35px;*/

    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 2px;
    box-sizing: border-box;
}

.wid-monster-tab-active {
    border: 2px solid #e74c3c;
}

.wid-monster-tab:hover {
    transform-origin: 50% 50%;
    transform: scale(0.95);
    cursor: pointer;
}

#willidie-debug-values {
    width: 100%;
    height: 500px;
    background-color: #485363;
    border: 0;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    color: white;
    overflow: auto;
    padding: 5px;
}